:root {
    --light-blue: #3768a2;
    --yellow-color: #ffd404;
}

@font-face {
    font-family: Pacifico;
    src: url('/font-text/Pacifico-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}
#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.heading {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
}
.heading h1 {
    margin-bottom: 0;
    color: white;
    font-size: 60px;
    text-shadow: 1px 1px 2px white, 0 0 1em blue, 0 0 0.2em blue;
    font-style: italic;
    font-family: Pacifico;
}
.heading h3 {
    color: wheat;
    font-size: 20px;
}

#clickme{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    font-size: 15px;
    font-family: Pacifico;
    color: white;
}

#clickme .box:nth-child(1) {
    margin: 0 !important;
    width: 100%;
    color: var(--yellow-color);
    font-weight: bold;
    font-size: 40px !important;
    margin-bottom: 25px !important;
}

#days{
    font-size: 40px;
}

.number-count-down {
    font-size: 30px;
    font-weight: bold;
}

#particles-js {
    position: relative;
    background: #0d112c;
    height: 100vh;
    overflow: hidden;
}

.info-day {
    color:white;
    font-size: 20px;
    font-style: italic;
    font-family: Pacifico;
}

.text-to-day {
    color: white;
    text-shadow: 1px 1px 2px white, 0 0 1em blue, 0 0 0.2em blue;
    font-weight: bold;
}

.now-day {
    color: var(--yellow-color);
}

.info-day-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#container {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    /* top: 100%; */
    top: 0%;
    left: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    /* opacity: 0; */
}

#box{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}

button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 3%;
    box-shadow: 1px 1px 2px white, 0 0 1em blue, 0 0 0.2em blue;
    outline: none;
    border-color: transparent;
    transition: 0.5s;
}

button:hover{
    box-shadow: 1px 1px 10px white, 0 0 1em blue, 0 0 1em blue;
}

#button-pause {
    position: absolute;
    top: 0;
}

#slick-image{
    overflow: hidden;
    width: 100%;
    height: 300px;
    display: none;
    visibility: hidden;
    opacity: 0;
}

.imageSlick{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    object-fit: cover;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform:  perspective(1000px) rotateY(360deg);
    }
}

#box .wrapper-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) *45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #ffffff4d);
}

.image{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

/* .image:hover{
    width: 300px !important;
    height: 300px !important;
} */

@media only screen and (min-width:0px) and (max-width:576px) {
    #wrapper {
        flex-direction: column-reverse;
    }

    #selectpicker {
        margin-bottom: 5%;
    }

    .heading h1 {
        font-size: 30px;
    }

    #clickme {
        flex-wrap: wrap;
        gap: 10px !important;
    }

    .box{
        width: 35%;
    }

    #clickme .box:nth-child(1) {
        margin: 0 !important;
        width: 100%;
        color: var(--yellow-color);
        font-weight: bold;
        font-size: 40px !important;
        margin-bottom: 0 !important;
    }

    .info-day {
        font-size: 15px !important;
    }

    .info-day-footer {
        font-size: 10px !important;
    }

    #box{
        width: 100px;
        height: 100px;
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    @keyframes animate {
        0% {
            transform: perspective(5000px) rotateY(0deg);
        }
    
        100% {
            transform:  perspective(5000px) rotateY(360deg);
        }
    }

    #slick-image{
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: unset;
        opacity: 1;
    }
}