:root {
    --light-blue: #3768a2;
    --yellow-color: #ffd404;
}

@font-face {
    font-family: Pacifico;
    src: url('/font-text/Pacifico-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
}
#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.heading {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
}
.heading h1 {
    margin-bottom: 0;
    color: white;
    font-size: 60px;
    text-shadow: 1px 1px 2px white, 0 0 1em blue, 0 0 0.2em blue;
    font-style: italic;
    font-family: Pacifico;
}
.heading h3 {
    color: wheat;
    font-size: 20px;
}

#clickme{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    font-size: 15px;
    font-family: Pacifico;
    color: white;
}

#clickme .box:nth-child(1) {
    margin: 0 !important;
    width: 100%;
    color: var(--yellow-color);
    font-weight: bold;
    font-size: 40px !important;
    margin-bottom: 25px !important;
}

#days{
    font-size: 40px;
}

.number-count-down {
    font-size: 30px;
    font-weight: bold;
}

#particles-js {
    background: #0d112c;
    height: 100vh;
}

.info-day {
    color:white;
    font-size: 20px;
    font-style: italic;
    font-family: Pacifico;
}

.text-to-day {
    /* color: var(--light-blue); */
    color: white;
    text-shadow: 1px 1px 2px white, 0 0 1em blue, 0 0 0.2em blue;
    font-weight: bold;
}

.now-day {
    color: var(--yellow-color);
}

.info-day-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media only  screen and (min-width:0px) and (max-width:576px) {
    #wrapper {
        flex-direction: column-reverse;
    }

    #selectpicker {
        margin-bottom: 5%;
    }

    .heading h1 {
        font-size: 30px;
    }

    #clickme {
        flex-wrap: wrap;
        gap: 10px !important;
    }

    .box{
        width: 35%;
    }

    #clickme .box:nth-child(1) {
        margin: 0 !important;
        width: 100%;
        color: var(--yellow-color);
        font-weight: bold;
        font-size: 40px !important;
        margin-bottom: 0 !important;
    }

    .info-day {
        font-size: 15px !important;
    }

    .info-day-footer {
        font-size: 10px !important;
    }
}